$medium-border-radius: 5px

%seam
  clear: both
  display: block
  height: 0px
  border-top: 1px solid rgba($black, .12)
  border-bottom: 1px solid rgba($white, .15)

%bordered-rounded
  border: 1px solid
  +border-radius($medium-border-radius)

%orange
  color: $soft-white
  border-color: $dark-orange
  +linear-gradient($orange,$middle-orange,1,0)

%light-orange
  color: $soft-white
  border-color: $dark-orange
  +linear-gradient($light-orange,$orange,1,0)