@import 'colors'
@import 'mixins'
@import 'components'
@import 'typography'
@import 'forms'

/* Main styles */
body
  background: $page-bg

ul
  list-style-type: none
  margin-left: 0

a
  color: $orange
  text-decoration: none

  &:hover,
  &:active
    color: $dark-orange
    text-decoration: underline

header, footer
  width: 100%
  color: $white

header
  +linear-gradient($hf-bg, $hf-gradient, 1, 0)
  border-bottom: 1px solid $border-color

footer
  +linear-gradient($hf-bg, $hf-gradient, 1, 1)
  border-top: 1px solid $border-color

.player, .home, .away
  @extend %selectable, %btn, %grey
  margin: 5px 0

  &.selected, &.winner
    @extend %green

.home, .away
  display: inline-block
  width: 20%

li
  &.fixture
    @extend %selectable

    .cunts
      height: 32px
      margin: 0 10px
      width: 10%

table
  width: 100%
  font-size: 20px
  color: #999

  tr
    border-bottom: 2px solid #ccc
    line-height: 36px

.row
  margin-top: 10px
  margin-bottom: 10px



