@import 'colors'
@import 'mixins'
@import 'components'
@import 'typography'
@import 'forms'

/* Main styles */
body
  background: $page-bg

ul
  list-style-type: none

a
  color: $orange
  text-decoration: none

  &:hover,
  &:active
    color: $dark-orange
    text-decoration: underline

header, footer
  width: 100%
  color: $white

header
  +linear-gradient($hf-bg, $hf-gradient, 1, 0)
  border-bottom: 1px solid $border-color

footer
  +linear-gradient($hf-bg, $hf-gradient, 1, 1)
  border-top: 1px solid $border-color

.player
  @extend %selectable, %btn, %grey
  margin: 5px 0

  &.selected
    @extend %green

.fixture
  @extend %selectable

  .winner
    background: $mild-green